body {
  font-size: 17px;
  line-height: 21px;
}
p {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 12px;
  color: #777;
}

.table-view-cell {
  position: relative;
  padding: 3px 0px 0px 7px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}